<div class="vehicle-dashboard">
  <!-- Header -->
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" class="nav">
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item active first-item"
        aria-current="page"
      >
        <span>Vehicle Dashboard</span>
      </li>
      <li
        class="breadcrumb-item active"
        aria-current="page"
      >
        <span>Makers ({{totalMakers}})</span>
      </li>
    </ol>
  </nav>

  <div class="horizontal-line"></div>

  <!-- Main content -->
  <app-makers (updateTotalEmitter)="updateTotal($event)"></app-makers>
</div>
